.wrapper {
    background-color: white;
    grid-area: main;
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.inputButton {
    display: flex;
    justify-content: space-between
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.addBtn {
    margin-bottom: 20px;
}


