.wrapper{
    display: flex;
    padding:0 100px 0 100px;
    justify-content: space-between;
    box-shadow: 4px 4px 4px #1A4BBC;
}

.login{
    text-align: center;
    border: 2px #1A4BBC solid;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    height: 39px;
    color: #1A4BBC;
    background-color: whitesmoke;
}